:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(14, 2, 2, 0.87);
    background-color: color(srgb 0.9999 1 1);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
}

.estado-prestamo {
    background-color: #ffa50061;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid orange;
    color: #b8872e;
    font-weight: bolder;
}

.estado-ingresado {
    background-color: #a8f9958a;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #7bad2d;
    color: #688c30;
    font-weight: bolder;
}

.estado-egreso {
    background-color: #ff000054;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid red;
    color: #991515;
    font-weight: bolder;
}

.css-1cennmq-MuiBackdrop-root-MuiDialog-backdrop {
    backdrop-filter: blur(2px);
}